* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes bones {
    from{
        transform: translateX(-300px)
    }
    to {
        transform: translateX(0);
    }
    
}
@keyframes show {
    from{
        transform: translateX(300px)
    }
    to {
        transform: translateX(0);
    }
}
body{
    background: url(./image/std\ grad.jfif) no-repeat;
    background-size: cover;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.logo {
    background: darkcyan;
    height: 47px;
    padding-top: 10px;
    padding-left: 10px;
}

.act {
    padding: 35px;
    height: 450px;
    width: 400px;
    background: white;
    text-align: center;
    animation-name: bones;
    animation-duration: 3s;
}
.act h4 {
    font-size: 22px;
}
.act button {
    border: 2px solid;
    background: transparent;
    color: darkcyan;
    width: 300px;
    height: 38px;
}
.act button:hover {
    background: darkcyan;
    color: white;
}
#star {
    font-size: 20px;
}
.sign {
    padding: 45px;
    height: 450px;
    width: 400px;
    background: white;
    animation-name: show;
    animation-duration: 3s;
}
.sign h4 {
    font-size: 27px;
}
#email {
    padding-left: 110px;
    color: blue;
}
#forgot {
    padding-left: 120px;
    color: blue;
}
input {
    border: 1px solid grey;
    outline: none;
    height: 28px;
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
}
#submit {
    border: 2px solid;
    background: darkcyan;
    color: white;
    width: 320px;
    height: 38px;
}
.support {
    background: lightblue;
    padding: 19px;
}
.help {
    height: 77px;
    background: white;
    text-align: center;
    padding-top: 17px;
}
.help a {
    text-decoration: none;
}
.pack i {
    background: rgb(3, 192, 3);
    color: white;
    width: 28px;
    height: 27px;
    padding-top: 4px;
}
@media (min-width: 481px) and (max-width: 768px) {
    body{
        background: url(./image/std\ grad.jfif) no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 100%;
    }
    .wrapper {
        margin: 0 auto;
        display: block;
        padding: 40px;
        justify-content: center;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    body{
        background: url(./image/std\ grad.jfif) no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 100%;
    }
    .wrapper {
        display: block;
        padding: 40px;
    }
    .logo {
        background: darkcyan;
        height: 47px;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
    }
    .act {
        margin: 0;
        padding: 25px;
        height: 450px;
        width: 100%;
        background: white;
        text-align: center;
        animation-name: bones;
        animation-duration: 3s;
    }
    .act h4 {
        font-size: 22px;
    }
    .act button {
        border: 2px solid;
        background: transparent;
        color: darkcyan;
        width: 200px;
        height: 38px;
    }
    .act button:hover {
        background: darkcyan;
        color: white;
    }
    .sign {
        padding: 25px;
        height: 450px;
        width: 100%;
        background: white;
        animation-name: show;
        animation-duration: 3s;
    }
    .sign h4 {
        font-size: 27px;
    }
    #email {
        padding-left: 43px;
        color: blue;
    }
    #forgot {
        padding-left: 50px;
        color: blue;
    }
    input {
        border: 1px solid grey;
        outline: none;
        height: 28px;
        width: 220px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #submit {
        border: 2px solid;
        background: darkcyan;
        color: white;
        width: 220px;
        height: 38px;
    }
    .support {
        background: lightblue;
        padding: 19px;
        height: 130px;
        font-size: 12px;
    }

} 
